<h2>Photos</h2>

<style>
.row {
    background-color:black
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    background-color:black
}
</style>

<div class="info">

<div class="row">
<div class="column">
        <img class="img-responsive" src="../images/photo-one.jpg" />
</div>
<div class="column">
        <img class="img-responsive" src="../images/photo-two.png" />
</div>
<div class="column">
        <img class="img-responsive" src="../images/photo-three.jpg" />
</div>
</div>

<div class="row">
<p></p>
<p></p>
<div class="column">
        <img class="img-responsive" src="../images/photo-four.jpg" />
</div>
<div class="column">
        <img class="img-responsive" src="../images/photo-five.png" />
</div>
<div class="column">
        <img class="img-responsive" src="../images/photo-six.jpg" />
</div>
<p></p>
<p></p>

</div>

</div>
