<h2>Photos</h2>

<style>
.row {
    background-color:black
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    background-color:black
}
</style>

<div class="info">

<div class="row">
<div class="column">
        <img class="img-responsive" src="{{url1}}" />
</div>
<div class="column">
        <img class="img-responsive" src="{{url2}}" />
</div>
<div class="column">
        <img class="img-responsive" src="{{url3}}" />
</div>
<div class="column">
</div>
<div class="column">
</div>
</div>

<div class="row">
<p></p>
<p></p>
<div class="column">
        <img class="img-responsive" src="{{url4}}" />
</div>
<div class="column">
        <img class="img-responsive" src="{{url5}}" />
</div>
<div class="column">
        <img class="img-responsive" src="{{url6}}" />
</div>
</div>

<div class="row">
<p></p>
<p></p>
<div class="column">
        <img class="img-responsive" src="{{url7}}" />
</div>
<div class="column">
        <img class="img-responsive" src="{{url8}}" />
</div>
<div class="column">
        <img class="img-responsive" src="{{url9}}" />
</div>
</div>

<p></p>
<p></p>
 
        <div class="form-group" ng-if="user.admin">
		<form ng-submit="switchPhoto(oldPhoto, newPhoto)">
			<p></p>
			<p></p>
			<p></p>
			<font size="4"><p align="center"><label><u>The Gallery Editor</u> (only visible to admin)</label></p></font>
			<p></p>
			<p></p>
			<p></p>
			<font size="3"><p>To change a photo, right-click on the one you want to replace, click "Copy image address," and paste into the top field. Then, 
			upload the replacement photo on <a href="https://imgur.com/" target="_blank">imgur.com</a> by making a New post, then put the URL imgur
			generates here.</p></font>
			<input type="text" class="form-control" name="oldPhoto" ng-model="oldPhoto" placeholder="Image to remove">
			<input type="text" class="form-control" name="newPhoto" ng-model="newPhoto" placeholder="Image to insert">
            <p></p>
			<p></p>			
			<button type="submit" class="btn btn-primary btn-block" style="color:#4ffc23"><b>Submit</b></button>
			<p></p>
			<p></p>
		</form>
		</div>
    
</div>
